root = true

[*.cs]
dotnet_diagnostic.MORPH0040.severity = warning
dotnet_diagnostic.MORPH0041.severity = warning
dotnet_diagnostic.MORPH0042.severity = warning
dotnet_diagnostic.MORPH0043.severity = warning
